<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: common_header">
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>

<div id="user_posts">

    <div class="mt-3 col-6 user-post">
        <div th:each="post:${posts}">
            <div class="card user-card-posts bg-light bg-gradient" style="width: 100%;">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div>
                        <span th:text="${post.user.name}">Username</span>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn-card-header"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            ...
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{'/posts/' + ${post.id} + '/edit'}"  >Edit</a></li>
                            <li><a class="dropdown-item" th:href="@{'/posts/' + ${post.id} + '/delete'}">Delete</a></li>
                        </ul>
                    </div>
                </div>
                <div th:if="${post.filename} != null">
                    <img th:src="@{'/img/' + ${post.filename}}" class="card-img-top" alt="Image">
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${post.title}">Название карточки</h5>
                    <p class="card-text" th:text="${post.context}">Контекст</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>