<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head th:replace="fragments/common :: common_header">
    <meta charset="UTF-8">
    <title>All Posts</title>
</head>
<body>

<div class="container">
    <div th:insert="~{fragments/menu :: #nav-menu}"></div>


    <div class="d-flex align-items-center flex-column bd-highlight mb-3">
        <div th:each="post:${posts}">
            <div class="card mt-2 bg-light bg-gradient" style="width: 35rem;">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div>
                        <span th:text="${post.user.name}">Username</span>
                    </div>
                </div>
                <div th:if="${post.filename} != null">
                    <img th:src="@{'/img/' + ${post.filename}}" class="card-img-top" alt="Image">
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${post.title}">Название карточки</h5>
                    <p class="card-text" th:text="${post.context}">Контекст</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:insert="~{fragments/common :: #copy_js}"></div>
</body>
</html>