<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: common_header">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<section class="container">
    <div th:insert="~{fragments/menu :: #nav-menu}"></div>

    <div class="d-flex justify-content-center mt-3">
        <div class="card bg-light" style="width: 18rem;">
            <div class="d-flex justify-content-center mt-3" th:if="${loginError}">Wrong user or password</div>

            <div class="d-flex justify-content-center mt-3 mb-3">
                <form th:action="@{/auth}" method="post">
                    <div class="input-group mb-3">
                        <input type="text" name="username" class="form-control" placeholder="Username"
                               aria-label="Username">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Password"
                               aria-label="password">
                    </div>
                    <div class="d-grid gap-2 mb-3 mx-auto">
                        <input class="btn btn-secondary btn-sm" tabindex="-1" type="submit" value="Log In">
                    </div>
                    <div class="d-grid gap-2 mx-auto">
                        <a class="btn btn-secondary btn-sm" tabindex="-1" type="button" th:href="@{/users/new}">Sign
                            Up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div th:insert="~{fragments/common :: #copy_js}"></div>
</body>
</html>