<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: common_header">
    <meta charset="UTF-8">
    <title>My Page</title>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <div class="row justify-content-center user-row">
        <div class="user-nav col-3 mt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Sub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
        <div class="card mt-3 mr-3 col-3 user-info">
            <img th:src="@{'/avatar/' + ${user.filename}}" class="card-img-top" alt="User Image">
            <div class="card-body">
                <h5 class="card-title" th:text="*{user.name}">Username</h5>
                <p class="card-text" th:text="*{user.email}">Email</p>
                <a class="link" th:href="@{'/users/'+ ${user.id} +'/edit'}">Edit</a>
            </div>
        </div>
        <div th:insert="~{fragments/postList :: #user_posts}"></div>
    </div>
</div>

<div th:insert="~{fragments/common :: #copy_js}"></div>

</body>
</html>