<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<table border="1" align="center">
    <tr>
        <td>Title</td>
        <td>Content</td>
    </tr>
    <tr th:each="post:${posts}">
        <td th:text="${post.title}">Title</td>
        <td th:text="${post.context}">Context</td>
    </tr>
    <tr>
        <td>
            <a th:href="@{posts/new}">Add post</a>
        </td>
    </tr>
</table>

</body>
</html>