<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: common_header">
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>

<div class="container">
    <div th:insert="~{fragments/menu :: #nav-menu}"></div>

    <table class="table table-success table-striped mt-2">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody th:each="user:${users}">
        <tr>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div th:insert="~{fragments/common :: #copy_js}"></div>
</body>
</html>