<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: common_header">
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>

<section class="container">
    <div th:insert="~{fragments/menu :: #nav-menu}"></div>

    <div class="d-flex justify-content-center mt-3">
        <div class="card bg-light" style="width: 18rem;">
            <div class="d-flex justify-content-center mt-3 mb-3">
                <form th:action="@{/users/new}" method="post" th:object="${user}">

                    <div class="input-group mb-3">
                        <input type="text" th:field="*{name}" name="username" class="form-control"
                               placeholder="Username">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" th:field="*{password}" name="password" class="form-control"
                               placeholder="Password">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" th:field="*{matchingPassword}" name="password" class="form-control"
                               placeholder="Confirm password">
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" th:field="*{email}" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <input class="btn btn-secondary btn-sm" tabindex="-1" type="submit" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div th:insert="~{fragments/common :: #copy_js}"></div>
</body>
</html>